*{
    font-family: sans-serif;
}

body{
    background:url(./bg.jpg ) black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f4f4f4f4;
    margin:0;
    height: 100%;
}
h1{
    padding:45px;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 2.6em;
}

button{
    border: none;
    text-align: center;
    margin: 0% auto;
    display: block;
    width:35%;
    padding: 25px;
    font-size: 1.2em;
    background: #a7a7a75e;
    color: white;
    border-radius: 2%;
    
}
button:hover{
    background: #a7a7a798;
}

.cont-container{
    max-width: 920px;
    margin:0 auto;
    font-size: 1.2em;
}

h3{
    text-align: center;
}

